<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link th:href="@{/css/style.css}" rel="stylesheet" />
<title>Login Screen</title>
</head>
<body>

	<h1>Customer Login</h1>

	<form th:action="@{/login}" method="post" th:object="${user}">
		<p>
			Username: <input type="text" th:field="*{userName}" />
		</p>
		<p>
			Password: <input type="text" th:field="*{password}" />
		</p>
		<input type="submit" value="Login">
	</form>
	<br />
	<br />
	
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  		Create New User
	</button>


	<!--Create User Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Create User</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form th:action="@{/createUser}" method="post" th:object="${user}" id="createUserForm">
					
					  <div class="form-group">
					    <label for="exampleInputEmail1">Your unang pangalan: </label>
					    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="So ano nga first name mo?" 
					    		th:field="*{firstName}">
					    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
					    
					    </br>
					    <label for="exampleInputEmail1">Your huling pangalan: </label>
					    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="So ano nga first name mo?" 
					    		th:field="*{lastName}">
					    <small id="emailHelp" class="form-text text-muted">item 2</small>
					    
					    </br>
					    <label for="exampleInputEmail1">Username oi! </label>
					    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="characters accepted range from A to B" 
					    		th:field="*{userName}">
					    <small id="emailHelp" class="form-text text-muted">username</small>
					    </br>
					    
					    <label for="exampleInputEmail1">password mo?! </label>
					    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Wag 12345 oi!" 
					    		th:field="*{password}">
					    <small id="emailHelp" class="form-text text-muted">password</small>
					    
					  </div>
					
						
<!-- 						<p> -->
<!-- 							First Name: <input type="text" th:field="*{firstName}" /> -->
<!-- 						</p> -->
<!-- 						<p> -->
<!-- 							Last Name: <input type="text" th:field="*{lastName}" /> -->
<!-- 						</p> -->
<!-- 						<p> -->
<!-- 							Username: <input type="text" th:field="*{userName}" /> -->
<!-- 						</p> -->
<!-- 						<p> -->
<!-- 							Password: <input type="text" th:field="*{password}" /> -->
<!-- 						</p> -->
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
					<button type="submit" form="createUserForm" class="btn btn-primary">Submit</button>
				</div>
			</div>
		</div>
	</div>

<!-- begin chris test -->

<h1>More ways to enjoy Ay Cookie Mo!</h1>

<p>Streamlined ordering of your favorites with the Ay! Cookie Mo website. Order today!</p>

<p>
navigation
item
price
some form of status, if needed
</p>

<p>
name
image
description
qunatitiy
avaibaliblity
add to cart
buy now

other details
you may also like
</p>

<p>
about ay cookie
navigation
FAQs
</p>

<h1>h1. Bootstrap heading</h1>
<h2>h2. Bootstrap heading</h2>
<h3>h3. Bootstrap heading</h3>
<h4>h4. Bootstrap heading</h4>
<h5>h5. Bootstrap heading</h5>
<h6>h6. Bootstrap heading</h6>
<p>This is a paragraph</p>

	<div class="jumbotron">
	  <h1 class="display-4">Hello, world!</h1>
	  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
	  <hr class="my-4">
	  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
	  <p class="lead">
	    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
	  </p>
	</div>

<!-- end -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>


<!-- 
Chris' log' 

05-2
- for me to get things started, I'll be messing around the mos tbasic html elements first
- once I get a handle on things, I'll group elements up and see how this works
- the goal is by the end of the week, components are styled, at least on this page, and can be just copy/pasted on the rest of the pages
-->
